*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
    background-image: url('./allImag/cih\ bank\ siége.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
#container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#carte-one,#carte-two{
    width: 480px;
    height: 300px;
    border-radius: 10px;
   position: relative;
}
#carte-one{
    top: 40px;
    background-image: url("./allImag/cih.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#carte-two{
    top: 100px;
    left: 100px;
    background-color: rgb(221, 221, 221);
}
#international{
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
#lign-black{
    background-color: black;
    width: 480px;
    height: 50px;
}
#lign-gris{
    background-color: rgb(182, 182, 182);
    width: 330px;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px auto ;
    padding-right: 20px;
    color: #ffffff;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 5px;
}
#text-one,#text-two,#text-three{
    color: rgb(135, 115, 0);
    font-weight: bold;
    position: relative;
}
#text-one{
    top: 175px;
    left: 35px;
    letter-spacing: 7px;
}
#text-two{
    top: 209px;
    left: 35px;
    letter-spacing: 4px;
}
#text-three{
    top: 170px;
    left: 250px;
    letter-spacing: 4px;
}
#text{
    text-align: center;
    font-size: 12px ;
}
#text span{
    font-weight: bold;
}
#cih-logo{
    width: 90px;
    display: block;
    margin: auto;
}
#part-two{
    background-color: #3f3f3f94;
    padding: 50px;
    border-radius: 20px;
}
#flex{
    display: flex;
    gap: 30px;
}
#bloc{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
label{
    color: #ffffff;
}
input{
    margin: 5px 0;
    padding: 10px 8px;
    border-radius: 5px;
    border: 1px solid gray;
}
#btnConfirm button{
    padding: 10px 148px;
    display: block;
    margin: auto;
    border-radius: 5px;
    border: none;
    background-color: #040404;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
#btnConfirm{
    text-decoration: none;
}
#btnConfirm button:hover{
    background-color: #2d2d2d;
}
@media  (max-width:1020px){
    body{
        overflow-y: auto;
        margin: 40px 0;
    }
    #container{
        flex-direction: column;
        gap: 40px;
    }
    #part-one{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    #carte-two,#carte-one{
        position: static;
        left: auto;
        top: auto;
    }
    
}
@media (min-width:1021px) and (max-width:1300px){
    body{
        overflow-y: auto;
        margin: 40px 0;
    }
    #container{
        flex-direction: column;
        gap: 40px;
    }
    #part-one{
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
    }
    #carte-two,#carte-one{
        position: static;
        left: auto;
        top: auto;
    }
}